version: "3.8"

networks:
  rustdesk-net:
    driver: bridge

services:
  hbbs:
    image: rustdesk/rustdesk-server:1.1.10
    container_name: rustdesk-hbbs
    command: hbbs -r 139.144.28.62:21117
    volumes:
      - ./data/hbbs:/root
    ports:
      - "21115:21115"
      - "21116:21116"
      - "21116:21116/udp"
      - "21118:21118"
    depends_on:
      - hbbr
    networks:
      - rustdesk-net
    restart: unless-stopped

  hbbr:
    image: rustdesk/rustdesk-server:1.1.10
    container_name: rustdesk-hbbr
    command: hbbr
    volumes:
      - ./data/hbbr:/root
    ports:
      - "21117:21117"
      - "21119:21119"
    networks:
      - rustdesk-net
    restart: unless-stopped